/***************a2-backgrond*****************/
.a2 .new-port1 .img1{
    background-image: url(https://i.imgur.com/9oymWKS.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.a2 .new-port1 .img2{
    background-image: url(https://i.imgur.com/N9c8DaB.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.a2 .new-port1 .img3{
    background-image: url(https://i.imgur.com/jmrZrhu.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
/***************a2-backgrond*****************/
.new{
    margin: 20px 0;
}
.new2{
    min-height: auto;
    margin: 15px;
    border: 1px solid #cccccc;
}
.a1 .new2 a{
    color: #212529;
}
.news{
    display: flex;
}
.port{
    background-color: #0072d3;
    color: cornsilk;
    margin: 0;
}
.port h5{
    margin: 0;
}
.a2 .new-port1 a{
    color: #212529;
}
.a2 .new-port1 .img {
    margin:0;
    display: flex;
}
.a2 .new-port1{
    background-color: #f9f9f9; 
    margin:0 auto;
    padding: 10px auto;
    border-bottom:1px solid #cccccc;
    padding: 10px 0;
}

@media only screen and (min-width:516px) and (max-width:1204px){
    .news .new2-1 {
        margin-left: 8.3%;
        margin-right: 0.1%;
    }
    .news .new2-3 {
        margin-left: 8.3%;
    }
    .a1 .new2-1{
        margin-left: 8.3%; ;
    }
    .a1 .new2-2{
        margin-left:0.11%;
    }
    .a1 .new2-3{
        margin-left: 8.3%; ;
    }
    .new2{
        min-height: auto;
        margin: 0px;
        border: 1px solid #cccccc;
    }
    
    .a2 .new-port1 .img{
        height: 100px;
    }
    .a2 .new-port1 .img4{
        overflow: hidden;
        height: 100px;
    }
    .a2 .new-port1 .img4 img{
        height: auto;
    }
}  
@media only screen and (max-width:516px){
    .a1{
        margin: 0;
    }
    .new2{
        min-height: auto;
        margin: 0px;
        border: 1px solid #cccccc;
    
    }
    .a2 .new-port1 .img{
        min-height: 100px;
        width: 25.2%;
    }
    .a2 .new-port1 .doc{
        min-height: 100px;
        width: 74%;
    }
    .a2 .new-port1 .img5{
        height:auto;
        min-height: 0;
    }

}
@media only screen and (min-width:1024px){
    .new2{
        min-height: auto;
        margin: 15px;
        border: 1px solid #cccccc; 
    }
    .a1{
        margin-left: 16.6%;
    }


}